.card {
    margin: 0 auto;
    float: none;
    margin-top: 10px;
    width: 32rem;
}

.col {
    align-self: center;
}

.thought-title, .thought-content {
    max-width: 100%;
    overflow-wrap: break-word;
}