#button-logout {
    color: red;
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 10px;
    width: 32rem;
}

.col {
    align-self: center;
}

.thought-title, .thought-content {
    max-width: 100%;
    overflow-wrap: break-word;
}

/* Tags, half-height buttons */
.tag-container .btn{
    --bs-btn-line-height: 1;
    margin: 2px;
}

/* Used on failed log-in attempts */
.errorlist, .nonfield{
    list-style: none;
}

/* Overrides select2 default style for tag colors */
/* .select2-selection__choice {
    color: black;
    background-color: red !important;
    border: 1px solid black !important;
  } */