{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Required for django-select2 -->
{{ form.media.css }}
<!-- Jquery used with select2 widgets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<div class="container">
    <h1>Edit thought:</h1>

    <!-- Form to edit a thought -->
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div>
            <p>
                <input type="submit" value="Update Thought">
            </p>
        </div>
    </form>
    {{ form.media.js }}
</div>

<!-- Select2 scripts, used for tags -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/enableTagwidget.js' %}"></script>

{%endblock%}