{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="container">
    <h1>Edit thought:</h1>

    <!-- Form to edit a thought -->
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div>
            <p>
                <input type="submit" value="Update Thought">
            </p>
        </div>
    </form>
    {{ form.media.js }}
</div>

<!-- Script to enable Select2 widget for tags -->
<script src="{% static 'js/enableFormTagwidget.js' %}"></script>

{%endblock%}