{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Required for django-select2 -->
{{ filter.form.media.css }}
<!-- Jquery used with select2 widgets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<div class="container">
    <h1>Search thought:</h1>
    
    <form method="get">
        {{ filter.form | crispy }}
        <input type="submit" value="Search">
      </form>

      {% for thought in filter.qs %}
        <div class="card center text-center">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/view/{{thought.id}}">
                    {{thought.title}}
                    </a>
                </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    {% if thought.anonymous %}
                    <strong>By: Anonymous</strong>
                    {% else %}
                    <strong>By: <a href="/user/{{thought.author.pk}}">{{thought.author}}</a></strong>
                    {% endif %}</h6>
                <hr>
                <p class="card-text">{{thought.content}} </p>
                <div class="tag-container">
                    {% for tag in thought.tags.all %}
                    <a href="/search/?tags={{tag.pk}}">{{ tag.colored_name }}</a>
                    {% endfor %}
                </div>
                
                <hr>
                <!-- Displays amount of likes and comments -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <span class="">
                                <a href="/like/{{thought.id}}">
                            {% if request.user in thought.likes.all %}
                            <i class="fa-solid fa-heart"></i>
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}
                            {{ thought.number_of_likes }} </a>| 
                            <a href="/view/{{thought.id}}">
                                <i class="fa-regular fa-comment-dots"></i> {{ thought.number_of_comments }}
                            </a>
                            </span>
                        </div>
                        <div class="col">
                            {% if request.user == thought.author or request.user.is_superuser %}
                            <a href="/edit/{{thought.id}}" class="btn btn-outline-secondary">Edit</a>
                            <a href="/delete/{{thought.id}}" class="btn btn-outline-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% empty %}
        <p>No thoughts, head empty...<br>
        Add new thought?</p>
      {% endfor %}
      
    {{ filter.form.media.js }}
</div>

<!-- Select2 scripts, used for tags -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/enableTagwidget.js' %}"></script>

{%endblock%}