{% extends 'base.html' %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}
<div class="row mt-4 mx-0">
    <div class="col-xxl-4 offset-xxl-4 col-10 offset-1 col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <div class="text-center">
            <!-- Detailed view of specific thought -->
            <h1 class="thought-title">{{thought.title}}</h1>
            <span>
                <h4 class="lead">
                {% if thought.anonymous %}
                By: <strong>Anonymous</strong>
                {% else %}
                By: <strong><a a href="/user/{{thought.author.pk}}">{{thought.author}}</a></strong>
                {% endif %}
                {% if request.user == thought.author %}
                    (You)
                {% endif %}
                {% if thought.time%}
                    at <strong>{{thought.time}}</strong>
                {% endif %}
                </h4>
            </span>
            <hr>
            <!-- Content -->
            <p class="card-text thought-content">{{thought.content | linebreaks}} </p>
            <!-- Tags -->
            <div class="tag-container">
                {% for tag in thought.tags.all %}
                <a href="/?tags={{tag.pk}}">{{ tag.colored_name }}</a>
                {% endfor %}
            </div>
            <hr>
            <!-- Like/Comment count -->
            <div class="row py-0 my-0">
                <div class="col-sm-4 py-2">
                    <a  href="/like/{{thought.id}}" class="link-underline link-underline-opacity-0">
                    {% if request.user in thought.likes.all %}
                    <i class="fa-solid fa-heart"></i>
                    {% else %}
                    <i class="fa-regular fa-heart"></i>
                    {% endif %}
                    {{ thought.number_of_likes }} </a>| 
                    <i class="fa-regular fa-comment-dots"></i> {{ thought.number_of_comments }}
                </div>
                <!-- Edit/Delete buttons -->
                <div class="col-sm-6 offset-sm-2 p">
                    {% if request.user == thought.author or request.user.is_superuser %}
                    <a href="/edit/{{thought.id}}" class="btn btn-outline-secondary" aria-label="Edit thought">
                        <i class="fa-regular fa-pen-to-square"></i> Edit
                    </a>
                    <a href="/delete/{{thought.id}}" class="btn btn-outline-danger">
                        <i class="fa-regular fa-trash-can"></i> Delete
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    
        <!-- Comment form -->
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <button type="submit" class="btn btn-outline-secondary">Post Comment</button>
        </form>
        {% endif %}
        
        <!-- Displays all comments -->
        {% for comment in comments %}
            <div class="card center my-4 col-md-10 offset-md-1">
                <div class="card-body">
                    <!-- Comment author + time -->
                    <span>
                        {% if comment.anonymous %}
                            <h5 class="card-subtitle mb-2 text-body-secondary">
                                Anonymous 
                                {% if request.user == comment.author %}
                                (You)
                                {% endif %}
                            </h5>
                        {% else %}
                            <h5 class="card-subtitle mb-2 text-body-secondary">
                                <a a href="/user/{{comment.author.pk}}">{{comment.author}}</a>
                            </h5>
                        {% endif %}
                    </span>
                    <h6>{{comment.date_created}}</h6>
                    <!-- Content -->
                    <p class="card-text">{{comment.content}} </p>
                    <hr>
                    <!-- Likes -->
                    <div class="row py-0 my-0 text-center">
                        <div class="col-sm-2 offset-sm-1 py-2">
                            <a href="/like_comment/{{comment.id}}" class="link-underline link-underline-opacity-0" aria-label="Like comment">
                            {% if request.user in comment.likes.all %}
                            <i class="fa-solid fa-heart"></i>
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}
                            {{ comment.number_of_likes }} 
                            </a>
                        </div>
                        <!-- Delete button -->
                        <div class="col-sm-4 offset-sm-4">
                            {% if request.user == comment.author or request.user == thought.author or request.user.is_superuser %}
                            <a href="/delete_comment/{{comment.id}}" class="btn btn-outline-danger" aria-label="Delete comment">
                                <i class="fa-regular fa-trash-can"></i> Delete
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <br>
            <p>No comments yet.</p>
        {% endfor %}
    </div>
</div>
{%endblock%}