{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load pagination_tags %}

<div class="text-center py-2">
    <div class="row mx-0">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0 my-4">
            <!-- Introductory blurb, first page only-->
            {% if page_obj.number == 1 %}
                <!-- User logged in -->
                {% if user.is_authenticated %}
                    <h1>Hello {{user.username}}!</h1>
                    <p class="lead py-2">
                        Have any thoughts to share? We're all ears!
                    </p>
                    <!-- 'Add new thought' button -->
                    <a href="/add">
                        <div class="btn btn-primary btn-lg">Share a new thought</div>
                    </a>
                <!-- Not logged in -->
                {% else %}
                    <div class="mb-4">
                        <h1>Welcome!</h1>
                        <p class="lead">
                            Have thoughts you rarely get a chance to share?<br>
                            This is the place to share them.
                        </p>
                        <p class="mb-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                            Don't let those rare glimpses into your psyche go to waste, 
                            share them anonymously or embrace your identity in this chaotic space of dreamers!
                        </p>
                        <p class="mb-4 fw-bold fst-italic">
                            Join the community to post, comment, and leave likes on posts.
                        </p>
                        <div>
                            <a href="{% url 'account_login' %}" class="btn btn-primary me-2">Log in</a>
                            <span class="text-muted">or</span>
                            <a href="{% url 'account_signup' %}" class="btn btn-secondary ms-2">Sign up</a>
                        </div>
                    </div>
                {% endif %}
                <hr class="mt-4">
            {% endif %}
        </div>
        <!-- Text above thoughts/search results -->
        {% if filter.is_searching %}
            <!-- First page, search results -->
            {% if page_obj.number == 1 %}   
                {% if filter.qs.count > 0 %} 
                    <h3>Found {{filter.qs.count}} search results!</h3>
                {% endif %}
            {% else %}
                <!-- Subsequent search pages -->
                <h3>Viewing search result page {{page_obj.number}} of {{paginator.num_pages}}:</h3>
            {% endif %}
        {% else %}
            <!-- First page, non-search -->
            {% if page_obj.number == 1 %} 
                <h3>Here are the most recent thoughts:</h3>
            {% else %}
                <!-- Subsequent non-search pages -->
                <h3>Viewing page {{page_obj.number}} of {{paginator.num_pages}}:</h3>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="row mx-0 text-center">
    <div class="col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <!-- Displays all thoughts, hides author if anonymous -->
        {% for thought in thought_list %}
            <div class="card center mt-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <!-- Title -->
                        <a href="/view/{{thought.id}}"><strong>{{thought.title}}</strong></a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        <!-- Author (By: [User] [(You)?] at [Time]) -->
                        <span>
                            {% if thought.anonymous %}
                                By: Anonymous 
                            {% else %}
                                By: <a href="/user/{{thought.author.pk}}">{{thought.author}} </a>
                            {% endif %}
                            {% if request.user == thought.author %}
                                (You)
                            {% endif %}
                            {% if thought.time%}
                                at <strong>{{thought.time}}</strong>
                            {% endif %}
                        </span>
                    </h6>
                    <hr>
                    <!-- Content -->
                    <div class="content-container">
                        <p class="card-text pt-1 pb-3">{{thought.content | linebreaksbr }} </p>
                    </div>
                    <!-- Tags -->
                    <div class="tag-container">
                        {% for tag in thought.tags.all %}
                            <a href="/?tags={{tag.pk}}" aria-label="Search by tag '{{tag.name}}'">{{ tag.colored_name }}</a>
                        {% endfor %}
                    </div>
                    <hr>
                    <!-- Displays amount of likes and comments -->
                    <div class="container-fluid">
                        <div class="row py-0 my-0">
                            <div class="col-sm-4 py-2">
                                <a  href="/like/{{thought.id}}" class="link-underline link-underline-opacity-0" aria-label="Like thought">
                                    {% if request.user in thought.likes.all %}
                                        <i class="fa-solid fa-heart"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                    {{ thought.number_of_likes }} 
                                </a>| 
                                <a href="/view/{{thought.id}}" class="link-underline link-underline-opacity-0" aria-label="View comment">
                                    <i class="fa-regular fa-comment-dots"></i> {{ thought.number_of_comments }}
                                </a>
                            </div>
                            <!-- Edit/Delete buttons -->
                            <div class="col-sm-6 offset-sm-2">
                                {% if request.user == thought.author or request.user.is_superuser %}
                                <a href="/edit/{{thought.id}}" class="btn btn-outline-secondary" aria-label="Edit thought">
                                    <i class="fa-regular fa-pen-to-square"></i> Edit
                                </a>
                                <!-- Delete button triggers modal through JS, follows href if JS disabled-->
                                <a href="/delete/{{thought.id}}" class="btn btn-outline-danger btn-delete"
                                data-bs-delete-type="thought" data-bs-delete-id="{{ thought.id }}" data-bs-delete-title='"{{ thought.title }}"'>
                                    <i class="fa-regular fa-trash-can"></i> Delete
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% empty %}
            <br>
            <h3>No thoughts found, head empty...</h3>
        {% endfor %}
    </div>
</div>
<!-- Pagination heavily inspired by https://stackoverflow.com/a/46329564 by Rob L -->
{% if is_paginated %}
<div class="row mb-4 mx-0">
    <div class="col-lg-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- 'First' and 'Previous' button -->
                {% if page_obj.has_previous %}
                <li><a href="?{% url_replace request 'page' 1 %}"
                    class="page-link">&laquo; First</a></li>
                <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}"
                    class="page-link">&lsaquo; Prev</a></li>
                {% endif %}

                <!-- If 3 pages away from start, create left ellipsis  -->
                {% if page_obj.number|add:'-2' > 1 %}
                <li><a href="?{% url_replace request 'page' page_obj.number|add:'-3' %}"
                    class="page-link">&hellip;</a></li>
                {% endif %}
            
                <!-- Show available pages within range  -->
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active page-link"><span>{{ i }} <span class="sr-only">(current page)</span></span></li>
                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                        <li><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            
                <!-- If 3 pages away from end, create right ellipsis  -->
                {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                <li><a class="page-link" href="?{% url_replace request 'page' page_obj.number|add:'3' %}">&hellip;</a></li>
                {% endif %}

                <!-- 'Next' and 'Last' button -->
                {% if page_obj.has_next %}
                <li><a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">Next &rsaquo;</a></li>
                <li><a class="page-link" href="?{% url_replace request 'page' paginator.num_pages %}">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}

<!-- Script to enable 'btn-delete' modal -->
<script src="{% static 'js/enableDeleteModal.js' %}"></script>

{%endblock%}