{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="container text-center">
    <h1>Here are some thoughts:</h1>
    
    <a href="/add">
        <button type="button" class="btn btn-primary btn-lg">Create new thought?</button>
    </a>

    <!-- Displays all thoughts, hides author if anonymous -->
    {% for thought in thoughts %}
        <div class="card center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{thought.title}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    {% if thought.anonymous %}
                    <strong>By: Anonymous</strong>
                    {% else %}
                    <strong>By: {{thought.author}}</strong>
                    {% endif %}</h6>
                <p class="card-text">{{thought.content}} </p>
                <a href="/edit/{{thought.id}}" class="btn btn-outline-secondary">Edit</a>
                <a href="/delete/{{thought.id}}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
        <br>
        {% empty %}
        <p>No thoughts, head empty...<br>
        Add new thought?</p>
    {% endfor %}
    
</div>
{%endblock%}