{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="container text-center">
    <h1>Here are some thoughts:</h1>
    {% if user.is_authenticated %}
    <a href="/add">
        <button type="button" class="btn btn-primary btn-lg">Create new thought?</button>
    </a>
    {% else %}
    <br>
    {% endif %}
    <!-- Displays all thoughts, hides author if anonymous -->
    {% for thought in thought_list %}
        <div class="card center">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/view/{{thought.id}}">
                    {{thought.title}}
                    </a>
                </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    {% if thought.anonymous %}
                    <strong>By: Anonymous</strong>
                    {% else %}
                    <strong>By: <a href="/user/{{thought.author.pk}}">{{thought.author}}</a></strong>
                    {% endif %}</h6>
                <hr>
                <p class="card-text">{{thought.content}} </p>
                
                {% for tag in thought.tags.all %}
                <a href="#">{{ tag.colored_name }}</a>
                {% endfor %}
                <hr>
                <!-- Displays amount of likes and comments -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <span class="">
                                <a href="/like/{{thought.id}}">
                            {% if request.user in thought.likes.all %}
                            <i class="fa-solid fa-heart"></i>
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}
                            {{ thought.number_of_likes }} </a>| 
                            <a href="/view/{{thought.id}}">
                                <i class="fa-regular fa-comment-dots"></i> {{ thought.number_of_comments }}
                            </a>
                            </span>
                        </div>
                        <div class="col">
                            {% if request.user == thought.author or request.user.is_superuser %}
                            <a href="/edit/{{thought.id}}" class="btn btn-outline-secondary">Edit</a>
                            <a href="/delete/{{thought.id}}" class="btn btn-outline-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% empty %}
        <p>No thoughts, head empty...</p>
    {% endfor %}
    
    <!-- Pagination Code from CI "I Think Therefore I blog" Codealong project -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    
</div>
{%endblock%}