{% extends 'base.html' %}

{% block content %}

{% load static %}
<div>
    <h1>Here are some thoughts:</h1>

    <a href="/add">Create new thought?</a>
    
    <!-- Displays all thoughts, hides author if anonymous -->
    {% for thought in thoughts %}
        <h2>{{thought.title}}</h2>
        
        <p>{{thought.content}} <br>
            {% if thought.anonymous %}
            <strong>By: Anonymous</strong>
            {% else %}
            <strong>By: {{thought.author}}</strong>
            {% endif %}
            <a href="/edit/{{thought.id}}">
                <button>Edit</button>
            </a>
            <a href="/delete/{{thought.id}}">
                <button>Delete</button>
            </a>
        </p>
        
        {% empty %}
        <p>No thoughts, head empty...<br>
        Add new thought?</p>
    {% endfor %}
</div>
{%endblock%}